body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Old_Growth";
  src: local("Old_Growth"),
    url("/fonts/Old\ Growth/OldGrowth-Regular.otf") format("truetype");
}
* {
  box-sizing: border-box;
  padding: 0;
}
body {
  font-family: "Old_Growth";
  background-color: rgb(58, 57, 57);
}
.menuContainer {
  display: flex;
  height: 100px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 20px;
  box-shadow: 0 0 25px black;
}
.menuEl {
  font-size: 40px;
  padding: 25px;
  color: rgb(111, 0, 255);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  z-index: 3;
}
.menuEl:hover {
  transform: scale(1.1);
  background-color: #595362;
  color: rgb(225, 205, 255);
}
.activeElMenu {
  transform: scale(1.1);
  background-color: #595362;
  color: rgb(207, 175, 254);
}
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
  box-shadow: 0 0 25px black;
}
.main_menu {
  font-family: "Old_Growth";
  position: relative;
  width: 38%;
  height: 100%;
}
.main_menu_mid {
  position: relative;
  width: 24%;
  height: 100%;
}
.main_menu p {
  font-family: "Old_Growth", Arial, Helvetica, sans-serif;
  color: rgb(111, 0, 255);
  font-size: 300%;
  width: 100%;
  position: relative;
  text-align: center;
  top: 40%;
  transform: translateY(-100%);
  filter: drop-shadow(15px 15px 50px #d06aff);
}
.avatar {
  display: block;
  margin: auto;
  top: 50%;
  border-radius: 100%;
  height: 100%;
  filter: drop-shadow(15px 15px 100px #5d00ff);
}
.col-box {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.col {
  position: relative;
  width: 33%;
}
.col_4 {
  display: none;
}
.col_5 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-auto-rows: 240px;
  grid-auto-flow: dense;
  grid-gap: 15px;
  margin: 40px;
}
.sample-img-grid {
  background: center / cover;
  border-radius: 5%;
  box-shadow: inset 0 0 35px black, 0 0px 5px blue;
  transition: all 0.3s ease-in-out;
}
.sample-img-grid:hover {
  border-radius: 30px;
  transform: scale(1.1);
}
.sample-img-grid:hover {
  box-shadow: inset 0 0 5px black, 0 10px 30px blue;
}
.sample-img-grid:nth-child(5n) {
  grid-column: span 2;
  grid-row: span 2;
}
.sample-img-grid:nth-child(2n) {
  grid-column: span 1;
  grid-row: span 2;
}
.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(58, 57, 57, 0.95);
  display: none;
}
.pop-up.active {
  display: block;
}
.pop-up img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 85%;
  max-height: 90%;
  z-index: 1;
}
.pop-up span {
  font-family: "Times New Roman", Times, serif;
  position: fixed;
  top: 10px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: white;
  font-size: 80px;
  font-weight: 900;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}
.sample-img {
  display: block;
  width: 100%;
  border-radius: 5%;
}
footer {
  display: flex;
  text-align: center;
  color: rgb(111, 0, 255);
  height: 50px;
  align-items: center;
  box-shadow: 0 5px 30px black;
}
footer div {
  display: absolute;
  width: 100%;
}
@media only screen and (min-width: 1000px) {
  .col_1 {
    position: relative;
    width: 25%;
  }
  .col_2 {
    position: relative;
    width: 25%;
  }
  .col_3 {
    position: relative;
    width: 25%;
  }
  .col_4 {
    display: block;
    position: relative;
    width: 25%;
  }
}
@media only screen and (max-width: 725px) {
  .col_1 {
    position: relative;
    width: 50%;
  }
  .col_2 {
    position: relative;
    width: 50%;
  }
  .col_3 {
    display: none;
  }
  .col_4 {
    display: none;
  }

  .main_menu_mid {
    display: none;
  }
  .main_menu {
    width: 50%;
  }
}
@media only screen and (max-width: 500px) {
  .col_1 {
    position: relative;
    width: 100%;
  }
  .col_2 {
    display: none;
  }
  .col_3 {
    display: none;
  }
  .col_4 {
    display: none;
  }
  .main_menu_mid {
    display: none;
  }

  .main_menu {
    width: 100%;
    height: 50%;
  }
  .header {
    flex-direction: column;
  }
  .col-box {
    min-width: 300px;
    max-width: 500px;
  }
}
